/* grid Style */
.grid-dialog {
    max-width: 80%; /* Limite a largura do grid */
    width: auto; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra no grid */
    overflow: hidden; /* Impede que o conteúdo vaze para fora */
}

.grid-body {
    max-height: 500px; /* Limita a altura do conteúdo do grid */
    overflow-y: auto; /* Ativa rolagem vertical */
    overflow-x: auto; /* Ativa rolagem horizontal */
    background-color: #ffffff; 
    color: #333; 
    padding: 10px; /* Adiciona algum espaçamento interno */
}

/* Table basic style */
table {
    width: 100%; /* Ajusta para 100% da largura do contêiner */
    min-width: 600px; /* Definindo uma largura mínima para evitar que a tabela fique muito estreita */
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px; /* Aumentando o padding para mais espaço */
    text-align: left;
}

/* Table basic style */
table {
    width: 100%; /* Garante que a tabela ocupe 100% da largura do contêiner */
    border-collapse: collapse;
    margin: 20px 0;
    min-width: 800px; /* Define uma largura mínima para a tabela */
}

/* .table-container para rolagem horizontal */
.table-container {
    overflow-x: auto; /* Permite rolagem horizontal */
    width: 100%; /* Garante que ocupa toda a largura do contêiner */
}

/* Responsividade da tabela */
@media (max-width: 768px) {
    table {
        font-size: 0.8em; /* Ajusta o tamanho da fonte para telas menores */
    }
}


/* Estilos para os botões */
.btn-orange {
    background-color: #f86011; /* Laranja Principal */
    color: #ffffff; /* Texto Branco */
    border: none; /* Sem borda */
}

.btn-orange:hover {
    background-color: #ff9f4d; /* Laranja Claro para hover */
}

.btn-secondary {
    background-color: #f86011; /* Azul Claro para botões secundários */
    color: #ffffff; /* Texto Branco */
    border: none; /* Sem borda */
}

btn btn-orange mt-2 {
    background-color: #f86011
}

btn btn-orange mt-2 :hover{
    background-color: rgb(107, 242, 54)
}

/* Estilos para a navbar */
#mainmenu {
    background-color: #333333; /* Cinza Escuro */
}

#mainmenu ul {
    list-style: none; /* Remove marcadores da lista */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    background-color: #f86011;
}

#mainmenu li {
    display: inline; /* Exibe os itens na mesma linha */
    margin-right: 20px; /* Espaçamento entre os itens */
}

#mainmenu a {
    color: #ffffff; /* Texto Branco para os links */
    text-decoration: none; /* Remove sublinhado dos links */
}

#mainmenu a:hover {
    color: #ff9f4d; /* Laranja Claro para hover */
}

/* Estilo para o fundo da página */
body {
    background-color: #f5f5f5; /* Cinza Claro */
    color: #333333; /* Texto Cinza Escuro */
}

/* Estilo do modal */
.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1000; /* Colocado em cima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total da tela */
    height: 100%; /* Altura total da tela */
    overflow: auto; /* Permite rolagem se necessário */
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com transparência */
}

/* Estilo do conteúdo do modal */
.modal-content {
    background-color: #fefefe; /* Fundo branco */
    margin: 15% auto; /* Margem para centralizar */
    padding: 20px; /* Padding interno */
    border: 1px solid #888; /* Borda cinza */
    width: 80%; /* Largura do modal */
    max-width: 600px; /* Largura máxima */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilo do cabeçalho do modal */
.modal-header {
    background-color: #FE8203; /* Cor laranja */
    color: white; /* Texto branco */
    padding: 10px 15px; /* Padding interno */
    border-top-left-radius: 8px; /* Bordas arredondadas no canto superior esquerdo */
    border-top-right-radius: 8px; /* Bordas arredondadas no canto superior direito */
}

/* Estilo do botão de fechar */
.close-button {
    color: white; /* Texto branco */
    float: right; /* Alinhamento à direita */
    font-size: 28px; /* Tamanho do texto */
    font-weight: bold; /* Negrito */
    cursor: pointer; /* Cursor de ponteiro */
}

/* Estilo do corpo do modal */
.modal-body {
    padding: 15px; /* Padding interno */
}

/* Estilo das listas de resultados */
.modal-body ul {
    list-style-type: none; /* Remove marcadores da lista */
    padding: 0; /* Remove padding da lista */
}

.modal-body li {
    margin: 5px 0; /* Margem entre os itens */
    padding: 10px; /* Padding interno */
    background-color: #f1f1f1; /* Fundo cinza claro */
    border-radius: 4px; /* Bordas arredondadas */
}

/* Estilo para erros */
.modal-body li.error {
    background-color: #f8d7da; /* Fundo vermelho claro */
    color: #721c24; /* Texto vermelho escuro */
}

/* Estilo para sucessos */
.modal-body li.success {
    background-color: #d4edda; /* Fundo verde claro */
    color: #155724; /* Texto verde escuro */
}


.progress {
    margin-top: 20px;
    height: 30px;
  }
  
  .progress-bar {
    background-color: #4caf50; /* Cor da barra de progresso */
    transition: width 0.5s ease-in-out;
  }