table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilização básica da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Adicionando rolagem horizontal dentro do div se necessário */
.table-container {
    width: 100%;
    overflow-x: auto; /* Ativa rolagem horizontal dentro do div */
    margin-top: 20px;
}

/* Estilizando o corpo do modal */
.modal-body {
    max-height: 400px; /* Ajuste a altura conforme necessário */
    overflow-y: auto; /* Permite rolagem vertical */
}
